@font-face {
   font-family: Pixel; 
   src: url('assets/Grand9K%20Pixel.otf');
} 
div {
    font-family: Pixel;
    margin: auto;
    text-align: center;
}
p {
    font-weight: 600;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 23px;
    font-family: Pixel;
    background: url(assets/New%20Website.png);
    height: 140px;
    width: 230px;
    display: inline-block;
}
